/* figtree-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/figtree/300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/figtree/100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/figtree/500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/figtree/600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/figtree/700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/figtree/800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/figtree/900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*  */
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/jakarta/200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/jakarta/300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/jakarta/regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/jakarta/500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/jakarta/600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/jakarta/700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jakarta - latin */
@font-face {
  font-display: swap;
  font-family: "Jarkata";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/jakarta/800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
